<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>hospital</title>
  </head>
  <body>
    <main class="app">
      <header class="app__header">
        <h1 class="app__header--title">Centre médical</h1>
        <nav class="app__header--nav">
          <p>login</p>
        </nav>
      </header>
      <section class="app__about">
          <div class="app__about--img"><img src="header.jpg" alt="" /></div>
        <article class="app__about--article">
            <h1>qui nous sommes?</h1>
            <h3>Notre équipe médicale travaille en étroite collaboration avec une équipe de plus de 100 médecins et experts de la santé à travers le pays dans un large éventail de domaines de spécialité pour s'assurer que notre agence est efficace et précise pour vous aider à vivre une vie plus saine.</h3>
        </article>
      </section>
    </main>
  </body>
</html>
