<%- include('./pages/header') %> 

<% if (dashboard == 'false') { %>

  <%- include('./pages/content/main.ejs') %> 

<% } %> 


<% if (dashboard == 'true') { %>


<main class="admis">
    
</main>


<% } %>

<%- include('./pages/footer.ejs') %> 