<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="vanilla.js" defer></script>
    <title>hospital</title>
  </head>
  <body>
    <main class="app">
      <header class="app__header">
        <h1 class="app__header--title">Centre médical</h1>
        <nav class="app__header--nav">
          <p>login</p>
        </nav>
      </header>
      <section class="app__about">
          <div class="app__about--img" data-tilt><img src="header.jpg" alt="" /></div>
        <article class="app__about--article">
            <h1>qui nous sommes?</h1>
            <h3>Notre équipe médicale travaille en étroite collaboration avec une équipe de plus de 100 médecins et experts de la santé à travers le pays dans un large éventail de domaines de spécialité pour s'assurer que notre agence est efficace et précise pour vous aider à vivre une vie plus saine.</h3>
        </article>
      </section>
       <section class="app__contact">
           <main class="app__contact--container">
               <div>
                  <h1><span>prenez un</span>  <span> rendez-vous </span><span>avec les </span> <span>meilleurs</span> </h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, blanditiis quaerat hic veritatis iste fuga? Recusandae quasi numquam maiores fuga? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, qui. Eaque, cum minus ab unde doloribus cumque maxime suscipit dolores ipsum officiis asperiores perferendis quidem, vel ut voluptas nesciunt corrupti.</p>
               </div>
               <div>
                   <p>last element</p>
               </div>
           </main>
       </section>
    </main>
    <script>
const element = document.querySelector(".app_about--img img");
VanillaTilt.init(element,);
    </script>
  </body>
</html>
