<section class="app__about">
    <div class="app__about--img" data-tilt><img src="header.jpg" alt="" /></div>
    <article class="app__about--article">
      <h1>qui nous sommes?</h1>
      <h3>
        Notre équipe médicale travaille en étroite collaboration avec une équipe
        de plus de 100 médecins et experts de la santé à travers le pays dans un
        large éventail de domaines de spécialité pour s'assurer que notre agence
        est efficace et précise pour vous aider à vivre une vie plus saine.
      </h3>
    </article>
  </section>