<section class="app__contact">
    <main class="app__contact--container">
      <div>
        <h1>
          <span>prenez un</span> <span> rendez-vous </span
          ><span>avec les </span> <span>meilleurs</span>
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius,
          blanditiis quaerat hic veritatis iste fuga? Recusandae quasi numquam
          maiores fuga?.
        </p>
      </div>
      <div>
        <div class="form">
          <h1>contact</h1>
          <form action="/render" method="POST">
            <label for="email">first name</label>
            <input type="text" id="firstName" name="firstName" required />

            <label for="lastName">last name</label>
            <input type="text" id="lastName" name="lastName" required/>

            <label for="eail">email</label>
            <input type="email" id="eail" name="email" required/>

            <label for="tel">telephone</label>
            <input type="tel" id="tel" name="phone" required pattern="[0-9]" minlength="10" maxlength="10"/>

            <label for="message" required>message</label>
            <textarea
              id="message"
              name="message"
              cols="30"
              rows="10"
            ></textarea>

            <input type="submit" value="envoyer" class="submit" />
          </form>
          <p>
            <span>email personnel:</span>
            <span>ibrahimsyllac196@gmail.com</span>
          </p>
        </div>
      </div>
    </main>
  </section>