* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d8f3dc;
}

body::-webkit-scrollbar {
  width: 3px;
  background-color: #d8f3dc;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.app {
  height: 200vh;
  background-color: #081c15;
  color: #d8f3dc;
}
.app__header {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__header--title {
  margin: 20px;
}
.app__header--nav {
  margin: 20px;
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: #d8f3dc;
  padding: 10px 20px;
  border-radius: 5%;
  color: #081c15;
}
.app__about {
  height: 83vh;
  width: 100%;
  padding: 15% 1% 0 1%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}
.app__about--article {
  width: 50%;
  height: 100%;
}
.app__about--article h1 {
  font-style: italic;
  font-size: 6em;
  text-transform: uppercase;
  font-weight: bolder;
}
.app__about--article h3 {
  text-align: justify;
  letter-spacing: 0.5em;
  word-spacing: auto;
}
.app__about--img {
  width: 50%;
  height: 100%;
  position: relative;
}
.app__about--img img {
  width: auto;
  height: 90%;
  object-fit: cover;
}
.app__about::after {
  content: "";
  position: absolute;
  height: 80vh;
  width: 150vw;
  background-color: #d8f3dc;
  mix-blend-mode: difference;
  transform: rotate(-20deg) translate(0px, 300px);
  cursor: none;
  pointer-events: none;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {
  .app {
    height: 300vh;
  }
  .app__header--title {
    font-size: 1em;
  }
  .app__about {
    height: 183vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    position: relative;
    overflow: hidden;
  }
  .app__about--article {
    width: 100%;
    height: 100%;
  }
  .app__about--article h1 {
    font-style: italic;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .app__about--article h3 {
    text-align: justify;
    letter-spacing: 0.5em;
    word-spacing: 1em;
  }
  .app__about--img {
    width: 100%;
    height: 70%;
  }
  .app__about--img img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-device-width: 500px) and (max-device-width: 950px) {
  .app {
    height: 300vh;
  }
  .app__header--title {
    font-size: 1em;
  }
  .app__about {
    height: 183vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    position: relative;
    overflow: hidden;
  }
  .app__about--article {
    width: 100%;
    height: 100%;
  }
  .app__about--article h1 {
    font-style: italic;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .app__about--article h3 {
    text-align: justify;
    letter-spacing: auto;
    word-spacing: auto;
    font-size: 1.4em;
  }
  .app__about--img {
    width: 100%;
    height: 70%;
  }
  .app__about--img img {
    width: auto;
    height: 100%;
  }
}
@media only screen and (min-device-width: 1000px) and (max-device-width: 1100px) {
  .app__about--article {
    width: 100%;
    height: 100%;
  }
  .app__about--article h1 {
    font-style: italic;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .app__about--article h3 {
    text-align: justify;
    letter-spacing: auto;
    word-spacing: auto;
    font-size: 1.5em;
  }
  .app__about--img {
    width: 100%;
    height: 70%;
  }
  .app__about--img img {
    width: auto;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
