* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d8f3dc;
}

body::-webkit-scrollbar {
  width: 3px;
  background-color: #d8f3dc;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.app {
  height: 200vh;
  background-color: #081c15;
  color: #d8f3dc;
}
.app__header {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__header--title {
  margin: 20px;
}
.app__header--nav {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8f3dc;
  padding: 10px 20px;
  border-radius: 5%;
  color: #081c15;
}
.app__about {
  height: 93vh;
  width: 100%;
  padding: 15% 1% 0 1%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}
.app__about--article {
  width: 50%;
  height: 100%;
}
.app__about--article h1 {
  font-style: italic;
  font-size: 6em;
  text-transform: uppercase;
  font-weight: bolder;
}
.app__about--article h3 {
  text-align: justify;
  letter-spacing: auto !important;
  word-spacing: auto !important;
}
.app__about--img {
  width: 50%;
  height: 100%;
  position: relative;
}
.app__about--img img {
  width: auto;
  height: 90%;
  object-fit: cover;
}
.app__about::after {
  content: "";
  position: absolute;
  height: 80vh;
  width: 150vw;
  background-color: #d8f3dc;
  mix-blend-mode: difference;
  transform: rotate(-20deg) translate(0px, 300px);
  cursor: none;
  pointer-events: none;
}
.app__contact {
  height: 100vh;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__contact--container {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__contact--container > * {
  height: 100%;
  width: 50%;
}
.app__contact--container div:first-child {
  background-color: #000000;
  padding: 5%;
}
.app__contact--container div:first-child h1 {
  text-transform: uppercase;
}
.app__contact--container div:first-child h1 span {
  display: block;
  font-size: 2.5em;
}
.app__contact--container div:first-child h1 span:nth-child(2) {
  text-align: end;
}
.app__contact--container div:first-child h1 span:last-child {
  text-align: center;
  font-size: 3.2em;
  font-weight: bolder;
  font-style: italic;
}
.app__contact--container div:first-child P {
  word-spacing: 0.5em;
  margin: 50px;
  text-align: center;
}
.app__contact--container div:last-child {
  background-color: #d8f3dc;
  color: #081c15;
}
.app__contact--container div:last-child .form {
  height: 100%;
}
.app__contact--container div:last-child .form h1 {
  height: 10%;
  text-align: center;
  font-size: 3em;
}
.app__contact--container div:last-child .form form {
  height: 70%;
  width: 50%;
  margin: 0 auto;
}
.app__contact--container div:last-child .form form label {
  display: block;
  text-transform: capitalize;
  font-weight: bolder;
  font-style: italic;
  margin: 15px 0 5px 0;
}
.app__contact--container div:last-child .form form input {
  display: block;
  border: none;
  border-bottom: 1px solid #1d8762;
  background-color: #b1d0b6e2;
  height: 4%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__contact--container div:last-child .form form input:last-child {
  width: 30%;
  margin: 10% auto 0 auto;
  border: none;
  background-color: black;
  color: #d8f3dc;
}
.app__contact--container div:last-child .form form textarea {
  border: none;
  background-color: #b1d0b6e2;
}
.app__contact--container div:last-child .form p {
  height: 10%;
  font-size: 0.7em;
}
.app__contact--container div:last-child .form p span:first-child {
  font-weight: 900;
  font-style: italic;
}
.app__login {
  height: 100vh;
  width: 100vw;
  transform: translateX(100vw);
  transition: transform 1s;
  top: 0;
  backdrop-filter: blur(10px);
  position: fixed;
  color: #081c15;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__login--container {
  height: 60%;
  width: 65%;
  background-color: #d8f3dc;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.app__login--container div:first-child {
  height: 15%;
}
.app__login--container div:first-child img {
  height: 100%;
  width: auto;
}
.app__login--container div:last-child {
  height: 70%;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__login--container div:last-child form label {
  display: block;
  text-transform: capitalize;
  font-weight: bolder;
  font-style: italic;
  margin: 15px 0 5px 0;
}
.app__login--container div:last-child form input {
  display: block;
  border: none;
  border-bottom: 1px solid #1d8762;
  background-color: #b1d0b6e2;
  height: 4%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__login--container div:last-child form input:last-child {
  width: 30%;
  margin: 10% auto 0 auto;
  border: none;
  background-color: black;
  color: #d8f3dc;
  padding: 10px 40px;
  border-radius: 10%;
}
.app__login--container h1 {
  text-align: center;
  font-size: 4em;
  font-style: italic;
  text-transform: uppercase;
  width: 100%;
  margin: 0 50px 0 0;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {
  .app {
    height: 300vh;
    overflow-x: hidden;
  }
  .app__header--title {
    font-size: 1em;
  }
  .app__about {
    height: 183vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    position: relative;
    overflow: hidden;
  }
  .app__about--article {
    width: 100%;
    height: 100%;
  }
  .app__about--article h1 {
    font-style: italic;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .app__about--article h3 {
    text-align: justify;
    line-height: 50px;
  }
  .app__about--img {
    width: 100%;
    height: 70%;
  }
  .app__about--img img {
    width: 100%;
    height: auto;
  }
  .app__contact--container {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .app__contact--container > * {
    width: 100%;
  }
  .app__contact--container div:first-child h1 span {
    font-size: 2em;
  }
  .app__contact--container div:first-child h1 span:last-child {
    font-size: 2.1em;
  }
  .app__contact--container div:last-child .form form {
    width: 80%;
  }
  .app__contact--container div:last-child .form p {
    height: 10%;
    font-size: 0.7em;
    padding: 9% 0 0 0;
  }
  .app__contact--container div:last-child .form p span:first-child {
    font-weight: 900;
    font-style: italic;
  }
  .app__login--container {
    width: 95%;
  }
  .app__login--container h1 {
    text-align: center;
  }
}
@media only screen and (min-device-width: 500px) and (max-device-width: 950px) {
  .app {
    height: 300vh;
  }
  .app__header--title {
    font-size: 1em;
  }
  .app__about {
    height: 183vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    position: relative;
    overflow: hidden;
  }
  .app__about--article {
    width: 100%;
    height: 100%;
  }
  .app__about--article h1 {
    font-style: italic;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .app__about--article h3 {
    text-align: justify;
    letter-spacing: auto;
    word-spacing: auto;
    font-size: 1.4em;
  }
  .app__about--img {
    width: 100%;
    height: 70%;
  }
  .app__about--img img {
    width: auto;
    height: 100%;
  }
  .app__contact--container {
    height: 100%;
    width: 100%;
  }
  .app__contact--container > * {
    width: 50%;
  }
  .app__contact--container div:first-child h1 span {
    font-size: 2.2em;
  }
  .app__contact--container div:first-child h1 span:last-child {
    font-size: 2.4em;
  }
  .app__contact--container div:last-child .form form {
    width: 80%;
  }
  .app__contact--container div:last-child .form p {
    height: 10%;
    font-size: 0.7em;
    padding: 13% 0 0 0;
  }
  .app__contact--container div:last-child .form p span:first-child {
    font-weight: 900;
    font-style: italic;
  }
}
@media only screen and (min-device-width: 1000px) and (max-device-width: 1100px) {
  .app__about--article {
    width: 100%;
    height: 100%;
  }
  .app__about--article h1 {
    font-style: italic;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .app__about--article h3 {
    text-align: justify;
    letter-spacing: auto;
    word-spacing: auto;
    font-size: 1.5em;
  }
  .app__about--img {
    width: 100%;
    height: 70%;
  }
  .app__about--img img {
    width: auto;
    height: 100%;
  }
}
.admis {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8f3dc;
  position: relative;
  overflow: hidden !important;
}
.admis__container {
  width: 93vw;
  height: 80vh;
  background-color: #081c15;
  color: #d8f3dc;
  padding: 5% 3%;
}
.admis__container--title {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-style: italic;
  font-size: 2em;
  height: 10%;
  margin-bottom: 5%;
}
.admis__container--dashboard {
  height: 90%;
  min-width: 50%;
  overflow: scroll;
}
.admis__container--dashboard::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d8f3dc;
}
.admis__container--dashboard::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  background-color: #d8f3dc;
}
.admis__container--dashboard::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.admis__container--dashboard table {
  border-collapse: collapse;
  word-wrap: break-word;
}
.admis__container--dashboard table thead {
  background-color: #d8f3dc;
  color: #081c15;
}
.admis__container--dashboard table thead tr th {
  text-transform: uppercase;
  font-weight: bolder;
  padding: 13 px;
}
.admis__container--dashboard table tbody tr td {
  text-align: center;
  word-wrap: break-word;
  padding: 15px;
}
.admis__container--dashboard table tbody tr td:last-child input {
  height: 0;
  width: 0;
  pointer-events: none;
  cursor: none;
  opacity: 0;
}
.admis__container--dashboard table tbody tr td:last-child button {
  background-color: red;
  color: #081c15;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  transform: translate(0, -8px);
}
.admis__container--dashboard table tbody tr td:nth-child(7) button {
  padding: 10px;
  background-color: #d8f3dc;
  color: #081c15;
  text-decoration: none;
  text-transform: uppercase;
}
.admis__login {
  height: 100vh;
  width: 100vw;
  transform: translateX(100vw);
  transition: transform 1s;
  top: 0;
  backdrop-filter: blur(10px);
  position: absolute;
  color: #081c15;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admis__login--container {
  height: 80%;
  width: 65%;
  background-color: #d8f3dc;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.admis__login--container div:first-child {
  height: 15%;
}
.admis__login--container div:first-child img {
  height: 100%;
  width: auto;
}
.admis__login--container h1 {
  text-align: center;
  font-size: 2em;
  font-style: italic;
  text-transform: uppercase;
  width: 100%;
  margin: 0 50px 0 0;
}
.admis__login--container div:last-child {
  background-color: #d8f3dc;
  color: #081c15;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admis__login--container div:last-child .form {
  height: 90%;
  width: 80%;
}
.admis__login--container div:last-child .form form {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.admis__login--container div:last-child .form form label {
  display: block;
  text-transform: capitalize;
  font-weight: bolder;
  font-style: italic;
  margin: 10px 0 5px 0;
}
.admis__login--container div:last-child .form form input {
  display: block;
  border: none;
  border-bottom: 1px solid #1d8762;
  background-color: #b1d0b6e2;
  height: 4%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admis__login--container div:last-child .form form input:last-child {
  width: 30%;
  margin: 15px 0 0 0;
  border: none;
  background-color: black;
  color: #d8f3dc;
}
.admis__login--container div:last-child .form form textarea {
  border: none;
  background-color: #b1d0b6e2;
}
.admis__login--container div:last-child .form p {
  height: 10%;
  font-size: 0.7em;
}
.admis__login--container div:last-child .form p span:first-child {
  font-weight: 900;
  font-style: italic;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {
  .admis__container {
    padding: 0;
  }
  .admis__container--title {
    font-size: 1.3em;
  }
  .admis__login--container {
    width: 85%;
  }
  .admis__login--container div:first-child {
    height: 8%;
  }
  .admis__login--container div:first-child img {
    height: 100%;
  }
}
@media only screen and (min-device-width: 500px) and (max-device-width: 950px) {
  .admis__container {
    padding: 0;
  }
  .admis__container--title {
    font-size: 1.3em;
  }
  .admis__login--container {
    width: 85%;
  }
  .admis__login--container div:first-child {
    height: 8%;
  }
  .admis__login--container div:first-child img {
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
