@use "./pallette.scss" as *;
@use "./mixin.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $color;
}

body::-webkit-scrollbar {
  width: 3px;
  background-color: $color;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.app {
  height: 200vh;
  background-color: $backgroundColor;
  color: $color;

  &__header {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--title {
      margin: 20px;
    }

    &--nav {
      margin: 20px;
      @include center();
      background-color: $color;
      padding: 10px 20px;
      border-radius: 5%;
      color: $backgroundColor;
    }
  }

  &__about {
    height: 93vh;
    width: 100%;
    padding: 15% 1% 0 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;

    &--article {
      width: 50%;
      height: 100%;
      h1 {
        font-style: italic;
        font-size: 6em;
        text-transform: uppercase;
        font-weight: bolder;
      }

      h3 {
        text-align: justify;
        letter-spacing: auto !important;
        word-spacing: auto !important;
      }
    }

    &--img {
      width: 50%;
      height: 100%;
      position: relative;

      img {
        width: auto;
        height: 90%;
        object-fit: cover;
      }
    }

    &::after {
      content: "";
      position: absolute;
      height: 80vh;
      width: 150vw;
      background-color: $color;
      mix-blend-mode: difference;
      transform: rotate(-20deg) translate(0px, 300px);
      cursor: none;
      pointer-events: none;
    }
  }

  &__contact {
    height: 100vh;
    width: 100vw;
    margin: auto;
    @include center();
    &--container {
      height: 90%;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & > * {
        height: 100%;
        width: 50%;
      }

      div:first-child {
        background-color: #000000;
        padding: 5%;
        h1 {
          text-transform: uppercase;
          span {
            display: block;
            font-size: 2.5em;
          }
          span:nth-child(2) {
            text-align: end;
          }

          span:last-child {
            text-align: center;
            font-size: 3.2em;
            font-weight: bolder;
            font-style: italic;
          }
        }

        P {
          word-spacing: 0.5em;
          margin: 50px;
          text-align: center;
        }
      }

      div:last-child {
        background-color: $color;
        color: $backgroundColor;
        .form {
          height: 100%;

          h1 {
            height: 10%;
            text-align: center;
            font-size: 3em;
          }

          form {
            height: 70%;
            width: 50%;
            margin: 0 auto;
            label {
              display: block;
              text-transform: capitalize;
              font-weight: bolder;
              font-style: italic;
              margin: 15px 0 5px 0;
            }
            input {
              display: block;
              border: none;
              border-bottom: 1px solid $backgroundColorInput;
              background-color: $colorInput;
              height: 4%;
              width: 100%;
              @include center();
              &:last-child {
                width: 30%;
                margin: 10% auto 0 auto;
                border: none;
                background-color: black;
                color: $color;
              }
            }

            textarea {
              border: none;
              background-color: $colorInput;
            }
          }

          p {
            height: 10%;
            font-size: 0.7em;
            span:first-child {
              font-weight: 900;
              font-style: italic;
            }
          }
        }
      }
    }
  }

  &__login {
    height: 100vh;
    width: 100vw;
    transform: translateX(100vw);
    transition: transform 1s;
    top: 0;
    backdrop-filter: blur(10px);
    position: fixed;
    color: $backgroundColor;
    @include center();
    &--container {
      height: 60%;
      width: 65%;
      background-color: $color;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      div:first-child {
        height: 15%;
        img {
          height: 100%;
          width: auto;
        }
      }

      div:last-child {
        height: 70%;
        padding: 10%;
        @include center();
        form {
          label {
            display: block;
            text-transform: capitalize;
            font-weight: bolder;
            font-style: italic;
            margin: 15px 0 5px 0;
          }
          input {
            display: block;
            border: none;
            border-bottom: 1px solid $backgroundColorInput;
            background-color: $colorInput;
            height: 4%;
            width: 100%;
            @include center();
            &:last-child {
              width: 30%;
              margin: 10% auto 0 auto;
              border: none;
              background-color: black;
              color: $color;
              padding: 10px 40px;
              border-radius: 10%;
            }
          }
        }
      }

      h1 {
        text-align: center;
        font-size: 4em;
        font-style: italic;
        text-transform: uppercase;
        width: 100%;
        margin: 0 50px 0 0;
      }
    }
  }
}

@include mobile() {
  .app {
    height: 300vh;
    overflow-x: hidden;
    &__header {
      &--title {
        font-size: 1em;
      }
    }
    &__about {
      height: 183vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      position: relative;
      overflow: hidden;

      &--article {
        width: 100%;
        height: 100%;
        h1 {
          font-style: italic;
          font-size: 4em;
          text-transform: uppercase;
          font-weight: bolder;
        }

        h3 {
          text-align: justify;
          line-height: 50px;
        }
      }

      &--img {
        width: 100%;
        height: 70%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    &__contact {
      &--container {
        height: 100%;
        width: 100%;
        flex-direction: column;
        & > * {
          width: 100%;
        }

        div:first-child {
          h1 {
            span {
              font-size: 2em;
            }

            span:last-child {
              font-size: 2.1em;
            }
          }
        }

        div:last-child {
          .form {
            form {
              width: 80%;
            }

            p {
              height: 10%;
              font-size: 0.7em;
              padding: 9% 0 0 0;
              span:first-child {
                font-weight: 900;
                font-style: italic;
              }
            }
          }
        }
      }
    }
    &__login {
      &--container {
        width: 95%;

        h1 {
          text-align: center;
        }
      }
    }
  }
}

@include tab() {
  .app {
    height: 300vh;

    &__header {
      &--title {
        font-size: 1em;
      }
    }
    &__about {
      height: 183vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      position: relative;
      overflow: hidden;

      &--article {
        width: 100%;
        height: 100%;
        h1 {
          font-style: italic;
          font-size: 3em;
          text-transform: uppercase;
          font-weight: bolder;
        }

        h3 {
          text-align: justify;
          letter-spacing: auto;
          word-spacing: auto;
          font-size: 1.4em;
        }
      }

      &--img {
        width: 100%;
        height: 70%;
        img {
          width: auto;
          height: 100%;
        }
      }
    }
    &__contact {
      &--container {
        height: 100%;
        width: 100%;
        & > * {
          width: 50%;
        }

        div:first-child {
          h1 {
            span {
              font-size: 2.2em;
            }

            span:last-child {
              font-size: 2.4em;
            }
          }
        }

        div:last-child {
          .form {
            form {
              width: 80%;
            }

            p {
              height: 10%;
              font-size: 0.7em;
              padding: 13% 0 0 0;
              span:first-child {
                font-weight: 900;
                font-style: italic;
              }
            }
          }
        }
      }
    }
  }
}

@include pcPortable() {
  .app {
    &__about {
      &--article {
        width: 100%;
        height: 100%;
        h1 {
          font-style: italic;
          font-size: 3em;
          text-transform: uppercase;
          font-weight: bolder;
        }

        h3 {
          text-align: justify;
          letter-spacing: auto;
          word-spacing: auto;
          font-size: 1.5em;
        }
      }

      &--img {
        width: 100%;
        height: 70%;
        img {
          width: auto;
          height: 100%;
        }
      }
    }
  }
}

.admis {
  height: 100vh;
  width: 100vw;
  @include center();
  background-color: $color;
  position: relative;
  overflow: hidden !important;
  position: relative;
  &__exit {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: $backgroundColor;
    color: $color;
    padding: 10px 20px;
    border-radius: 10%;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
  }
  &__container {
    width: 93vw;
    height: 80vh;
    background-color: $backgroundColor;
    color: $color;
    padding: 5% 3%;
    &--title {
      text-align: center;
      text-transform: uppercase;
      text-decoration: underline;
      font-style: italic;
      font-size: 2em;
      height: 10%;
      margin-bottom: 5%;
    }

    &--dashboard {
      height: 90%;
      min-width: 50%;
      overflow: scroll;

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: $color;
      }

      &::-webkit-scrollbar {
        width: 3px;
        height: 8px;
        background-color: $color;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #000000;
      }
      table {
        border-collapse: collapse;
        word-wrap: break-word;
        thead {
          background-color: $color;
          color: $backgroundColor;
          tr {
            th {
              text-transform: uppercase;
              font-weight: bolder;
              padding: 13 px;
            }
          }
        }

        tbody {

          tr {
            td {
              text-align: center;
              word-wrap: break-word;
              padding: 15px;

              &:last-child {
                input{
                  height: 0;
                  width: 0;
                  pointer-events: none;
                  cursor: none;
                  opacity: 0;
                }

                button {
                  background-color: red;
                  color: $backgroundColor;
                  text-decoration: none;
                  text-transform: uppercase;
                 padding: 10px;
                 transform: translate(0,-8px);
                }
              }
              &:nth-child(7) {
                
                button {

                 padding: 10px;
                  background-color: $color;
                  color: $backgroundColor;
                  text-decoration: none;
                  text-transform: uppercase;
                }
                
              }
            }
          }
        }
      }
    }
  }
  
  &__login {
    height: 100vh;
    width: 100vw;
    transform: translateX(100vw);
    transition: transform 1s;
    top: 0;
    backdrop-filter: blur(10px);
    position: absolute;
    color: $backgroundColor;
    @include center();
    &--container {
      height: 80%;
      width: 65%;
      background-color: $color;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      div:first-child {
        height: 15%;
        img {
          height: 100%;
          width: auto;
        }
      }
      h1 {
        text-align: center;
        font-size: 2em;
        font-style: italic;
        text-transform: uppercase;
        width: 100%;
        margin: 0 50px 0 0;
      }

      div:last-child {
        background-color: $color;
        color: $backgroundColor;
        width: 100%;
        height: 100%;
        @include center();
        .form {
          height: 90%;
          width: 80%;
          form {
            height: 100%;
            width: 100%;
            margin: 0 auto;
            label {
              display:block;
              text-transform: capitalize;
              font-weight: bolder;
              font-style: italic;
              margin: 10px 0 5px 0;
            }
            input {
              display: block;
              border: none;
              border-bottom: 1px solid $backgroundColorInput;
              background-color: $colorInput;
              height: 4%;
              width: 100%;
              @include center();
              &:last-child {
                width: 30%;
                margin: 15px 0 0 0;
                border: none;
                background-color: black;
                color: $color;
              }
            }

            textarea {
              border: none;
              background-color: $colorInput;
            }
          }

          p {
            height: 10%;
            font-size: 0.7em;
            span:first-child {
              font-weight: 900;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}

@include mobile() {
  .admis {
    &__container {
      padding: 0;
      &--title {
        font-size: 1.3em;
      }
    }
    &__login {
      &--container {
        width: 85%;
       
        div:first-child {
          height: 8%;
          img {
            height: 100%;
          }
        }
     
      }
    }
    
  }
}


@include tab(){
  .admis {
    &__container {
      padding: 0;
      &--title {
        font-size: 1.3em;
      }
    }
    &__login {
      &--container {
        width: 85%;
       
        div:first-child {
          height: 8%;
          img {
            height: 100%;
          }
        }
     
      }
    }
    
  }
}